body {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

.banner {
  background-image: url(https://images8.alphacoders.com/108/1081458.jpg);
  background-size: cover;
  color: white;
  padding: 120px;
}
